* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url('../images/computer.jpg');
	background-size: cover;
	background-attachment: fixed;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    display: block;
	
}

.contenedor .form .form-header .form-title {
   
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	color: #46a2fd;
}


.contenedor .form {
	background: rgba(0,0,0,.6);
	width: 90%;    
	max-width: 600px;
	margin: auto;
	padding: 5px 35px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius: 3px;
}

.contenedor .form .form-label {
	display: block;
	color: #46a2fd;
	font-size: 16px;
	font-family: Roboto;
	position: relative;
}

.contenedor .form .form-input, .form-textarea {

	background: rgba(0,0,0,.7);
	border: none;
	outline: none;
	border-bottom: 2px solid #46a2fd;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
	font-family: Roboto; 
}

.contenedor .form .form-textarea {
	resize: vertical;
	max-height: 158px;
	min-height: 58px;
	
}

.contenedor .form .btn-submit {
	width: 100%;
	font-family: Roboto;
	outline: none;
	background: #46a2fd;
	font-size: 22px;
	border: none;
	color: #fff;
	padding: 15px 0;
	cursor: pointer;
	transition: all 5s ease;
	border-radius: 5px;
}

.contenedor .form .btn-submit:hover {

	background: #130ACB;

}

/*SECCIÓN FOOTER*/

#dm .p_hfcontainer div.u_1948690297 {
    float: none!important;
    top: 0!important;
    left: 0!important;
    width: auto!important;
    position: relative!important;
    height: auto!important;
    padding: 40px 50px 35px!important;
    max-width: 100%!important;
    margin: 0!important;
    min-width: 0!important;
    text-align: center!important;
}

#dm .p_hfcontainer div.u_1486205957, #dm .p_hfcontainer div.u_1948690297 {
    background-image: linear-gradient(
180deg
,#5271ff 0,#1338b4 100%)!important;
    background-origin: border-box!important;
}

#dm * {
    -webkit-tap-highlight-color: transparent;
}

.dmLargeBody .dmRespRow {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.dmRespRow.fullBleedMode {
    padding-left: 0!important;
    padding-right: 0!important;
}

.dmRespRow.fullBleedMode {
    padding-left: 0!important;
}
.dmRespRow.fullBleedMode, div#\31 054683596, div#\31 699574896 {
    padding-right: 0!important;
}

#dm .dmRespRow .dmRespColsWrapper {
    display: flex;
}
#dm .dmRespRow .dmRespColsWrapper {
    display: flex;
}
#dm .dmRespColsWrapper, .dmLargeBody .dmImgCoverWrapper.imageWidget {
    display: block;
}
#dm .dmRespColsWrapper {
    display: block;
}
#dm * {
    -webkit-tap-highlight-color: transparent;
}
.dmRespRow.fullBleedMode>.dmRespColsWrapper {
    width: 100%!important;
    max-width: 100%!important;
}
.dmRespRow.fullBleedMode>.dmRespColsWrapper {
    width: 140%!important;
    max-width: 140%!important;
}
.dmRespDesignRow, .dmRespRow, .dmRespRow .dmRespColsWrapper {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.dmRespRow, .dmRespRow .dmRespColsWrapper {
    max-width: 1220px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.dmInner * {
    -webkit-font-smoothing: antialiased;
}
.dmInner * {
    -webkit-font-smoothing: antialiased;
}
* {
    border: 0 solid #333;
    scrollbar-arrow-color: #fff;
    scrollbar-track-color: #f2f2f2;
    scrollbar-face-color: silver;
    scrollbar-highlight-color: silver;
    scrollbar-3dlight-color: silver;
    scrollbar-shadow-color: silver;
    scrollbar-darkshadow-color: silver;
    scrollbar-width: 12px;
}
*, :after, :before {
    box-sizing: border-box;
}



#dm .p_hfcontainer div.u_1948690297 {
    float: none!important;
    top: 0!important;
    left: 0!important;
    width: auto!important;
    position: relative!important;
    height: auto!important;
    padding: 40px 50px 35px!important;
    max-width: 100%!important;
    margin: 0!important;
    min-width: 0!important;
    text-align: center!important;
}

.u_1948690297 {
    background-image: none!important;
    background-color: transparent!important;
    background-position: 0 0!important;
    background-size: auto!important;
    background-repeat: repeat!important;
    padding: 0 10.2031px!important;
    margin: 0!important;
    text-align: center!important;
    color: #212226!important;
}
.dmFooter {
    background-color: #333;
    color: #f7f7f7;
}

.dmRespColsWrapper {
    background-color: #30353B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-volver {

    
    background: #2091F9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 20px;
    color: #fff;
    background-size: 50px;
    margin-left: 170px;
    margin-bottom: 15px;
    padding: 10px;
    justify-content: center;
    
}

.nav__logo img{
    margin-bottom: -15px;
    height: 60px;
    overflow: hidden;
    z-index: 1001;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(28, 27, 27));
    -webkit-filter: opacity(0.4) drop-shadow(0 0 0 rgb(15, 15, 15));
}
    


.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.logo__gr{
    width: 200px;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
* {
    margin: 0;
    box-sizing: border-box;
}
user agent stylesheet
nav {
    display: block;
}
.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }}

/*FIN SECCIÓN FUTER*/